# python practice

## 2021-06-29 practice

In [12]:
print("Hello world")

Hello world

In [14]:
a="restart"
b=a[1:]
a[0]+b.replace("r","$")

'resta$t'

In [15]:
day=11
month=12
year=2014
print(f"The exmination will start from : {day}/{month}/{year}")

The exmination will start from : 11/12/2014

In [22]:
a="python"
len(a)
print(a[0])
print(a[2])
print(a[4])

p
t
o

### 2-3 practice

In [44]:
a=[2,3,4,['a',['Life','is','good'],['apple']]]
a[3][1][2]
a[3][2][0]

'apple'

In [47]:
a=[1,2,3,4,5]
b=a[1:3]
print(b)

[2, 3]

### 2-4 practice

In [49]:
line_up=[]
line_up.append('거북이')
line_up.append('홍학')
line_up.append('토끼')
line_up.sort()
print(line_up)

['거북이', '토끼', '홍학']

In [51]:
train=['성진','찬경','준영']
train.append('주아')
print("서울역 도착, //",train)
train.insert(0,'동빈')
print("대전역도착, //",train)
train.sort()
print("부산역 도착, //",train)

서울역 도착, // ['성진', '찬경', '준영', '주아']
대전역도착, // ['동빈', '성진', '찬경', '준영', '주아']
부산역 도착, // ['동빈', '성진', '주아', '준영', '찬경']

In [ ]:
#2-4 practice

In [55]:
a=['Windows','macOS','Linux']
a.reverse()
a

['Linux', 'macOS', 'Windows']

In [57]:
b=['Python','Java','C++','Ruby','C']
b.pop(2)
b

['Python', 'Java', 'Ruby', 'C']

## 2021-06-30 practice

### 2-5 practice

In [16]:
my_dict={'name':'Elli','age':37}
print(my_dict.get('name'))
print(my_dict.get('nokey'))
print(my_dict.get('age'))
list(my_dict.keys()).pop()

Elli
None
37

'age'

In [15]:
my_dict={'name':'Eile','age':37}
my_dict['address']='Downtown'
my_dict

{'name': 'Eile', 'age': 37, 'address': 'Downtown'}

### 2-6 pracitce

In [23]:
my_set={1,3}
print(my_set)
my_set.add(2)
print(my_set)
my_set.add(4)
print(my_set)
my_set.update([5,6,8])
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [30]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A|B)
print(A&B)
print(A-B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

### 3-1 practice

In [33]:
a=33
b=200
if(b>a):
    print("b is greater than a")
else:
    print("NOPE")

b is greater than a

In [35]:
a=33
b=33
if(b>a):
    print("b is greater than a")
elif(a==b):
    print("a and b are equal")

a and b are equal

In [36]:
a=200
b=33
if(b>a):
    print("b is greater than a")
elif(a==b):
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [41]:
a=200
b=33
c=500
if(a>b and c>a):
    print("Both conditions are True")

Both conditions are True

In [42]:
a=200
b=33
c=500
if(a>b or a>c):
    print("At leaet one of the conditions is True")

At leaet one of the conditions is True

### 3-2 practice

In [49]:
Fruits=["apple","banana","cherry"]
for i in range(0,3):
    print(Fruits[i])

apple
banana
cherry

In [47]:
Fruits=["apple","banana","cherry"]
for i in range(0,3):
    if(Fruits[i]=="banana"):
        print("banana break")
        break

banana break

?? 타입이 리스트내포를 사용하면 리스트로 나오고
일반 for문을 사용하면 요소로 나오는가?
그렇다면 추후에 이 데이터를 사용하기 위해서는 리스트내포를 사용하는것이 좋은것인가?

리스트 내포는 새로운 리스트를 선언하는 경우에만 가능한 것인가?

for문을 사용하는 경우에 a에서 다른 리스트로 옮기는 경우만 사용하는 건가?
자른다고 생각하면 안되는 건가?

In [58]:
a="human"
for i in range(0,len(a)):
    print(a[i])

h
u
m
a
n

In [55]:
a="human"
result=[a[i] for i in range(0,len(a))]
print(result)

['h', 'u', 'm', 'a', 'n']

In [94]:
result1=["human"]
result2="nice"
result=[result1.append(result2) for i in range(0,len(result1))]
print(result1)

['human', 'nice']

In [85]:
for i in range(20):
    if(i%2==0):
        print(i)

0
2
4
6
8
10
12
14
16
18

In [56]:
result=[i for i in range(20) if(i%2==0)]
print(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
result=[i for i in range(100)if(i%2==0 and i%5==0)]
print(result)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### 4-1 practice

In [127]:
def check(a,i):
    if(a[i]!='e' and a[i]!='s'):
         return print("Current letter : " + a[i])
a='estheresther'
for x in range(len(a)):
    check(a,x)

Current letter : t
Current letter : h
Current letter : r
Current letter : t
Current letter : h
Current letter : r

In [111]:
def check(a,b):
    if(b>a):
        print("b is greater than a")
check(a=33,b=200)

b is greater than a

In [116]:
def check(a,b):
    if(b>a):
        print("b is greater than a")
    elif(a==b):
        print("a and b are equal")
        
check(a=33,b=33)

a and b are equal

In [113]:
def check(a,b):
    if(b>a):
        print("b is greater than a")
    elif(a==b):
        print("a and b are equal")
    else:
        print("a is greater than b")
check(a=200,b=33)

a is greater than b

In [114]:
def check(a,b,c):
    if(a>b and c>a):
        print("Both conditions are True")
check(200,33,500)

Both conditions are True

In [120]:
def check(a,b,c):
    if(a>b or a>c):
        print("At least one of the conditions is True")
check(200,33,500)

At least one of the conditions is True

In [119]:
def check(a):
    for i in range(len(a)):
        print(a[i])
    
a=["apple","banana","cherry"]
check(a)

apple
banana
cherry

In [141]:
def check(a):
    result=[a[i] for i in range(len(a)) if(a[i]!='banana')]
    return result
a=["apple","banana","cherry"]
check(a)

['apple', 'cherry']

In [140]:
def check(a):
    result=[a[i] for i in range(len(a))]
    return result
a="human"
check(a)

['h', 'u', 'm', 'a', 'n']

## 2021-07-01 practice

### 4-1 practice

In [1]:
x=lambda a : a+10
result=x(10)
result

20

In [2]:
test= lambda a,b : a*b
result=test(10,10)
result

100

In [3]:
test=lambda a,b,c: a+b+c
result=test(1,2,3)
result

6

In [10]:
test=lambda a:a**3 if a%2==0 else a**2
result=test(4)
result

64

In [13]:
test=lambda a: a**3 if a%2==0 else (a**4 if a%3==1 else a**2)
result=test(3)
result

9

### 4-2 practice

In [14]:
a=input()

Hi

In [15]:
a

'Hi'

In [45]:
a=input()
b=input()
test=lambda a,b: a*b
x=int(float(a))
y=int(float(b))
print(test(x,y))

2
4
8

In [6]:
a=input()
b=input()
x=input("기호를 입력하시오:")

p=int(float(a))
y=int(float(b))

if(x=="*"):
    print(p*y)
elif(x=="%"):
    print(p%y)
elif(x=="/"):
    print(p/y)
elif(x=="+"):
    print(p+y)
elif(x=="-"):
    print(p-y)
else:
    print("오류")

4
5
기호를 입력하시오:+
9

In [9]:
user_list=["sohyun","jayoung","miyoung","jihyun","heeyoung"]
print(user_list)
person=input("이름을 입력하세요: ")
x=len(user_list)
print(x)
for i in range(x):
    if(user_list[i]==person):
        del user_list[i]
        x-=1
while(x>1):
    person2=input("생일, 전화번호, 나이, 성별을 입력하세요 : ")
    print(person2)
    break

['sohyun', 'jayoung', 'miyoung', 'jihyun', 'heeyoung']
이름을 입력하세요: 1
5
생일, 전화번호, 나이, 성별을 입력하세요 : 1
1

### 4-3 practice

In [44]:
f= open("C:/Users/user/Desktop/데청캠/Pythontest/testfile.txt","w")
f.write(input())
f.close()

this is first line

In [23]:
with open("C:/Users/user/Desktop/데청캠/Pythontest/testfile.txt","w") as f:
    f.write(input())
f.close()

this is first line

In [37]:
f= open("C:/Users/user/Desktop/데청캠/Pythontest/test.txt","a")
f.write(input())
print("Update File")
f2=open("C:/Users/user/Desktop/데청캠/Pythontest/test.txt","r")
data=f2.read()
print(data)
f.close()
f2.close()

this is added line
this is first line
this is second line
this is third line
this is forth line
this is fifth line

In [45]:
with open("C:/Users/user/Desktop/데청캠/Pythontest/test.txt","a") as f2:
    f2.write(input())
print("Update File")
with open("C:/Users/user/Desktop/데청캠/Pythontest/test.txt","r") as f:
    data=f.read()
print(data)
f.close()

Hi
Update File
this is first line
this is second line
this is third line
this is forth line
this is fifth line
this is added line
Hi

### 5-1 practice

In [47]:
class FourCal:
    def setdata(self,first,second):
        self.first=first
        self.second=second
    def add(self):
        result=self.first+self.second
        return result
    def mul(self):
        result=self.first*self.second
        return result
    def sub(self):
        result=self.first-self.second
        return result
    def div(self):
        result=self.first/self.second
        return result
    
a=FourCal()
a.setdata(4,2)
print(a.mul())
print(a.div())
print(a.sub())
print(a.add())

8
2.0
2
6

In [49]:
class FourCal:
    def __init__(self,first,second):
        self.first=first
        self.second=second
    def add(self):
        result=self.first+self.second
        return result
    def mul(self):
        result=self.first*self.second
        return result
    def sub(self):
        result=self.first-self.second
        return result
    def div(self):
        result=self.first/self.second
        return result
    
a=FourCal(4,2)
print(a.mul())
print(a.div())
print(a.sub())
print(a.add())

8
2.0
2
6

In [3]:
class FourCal:
    def __init__(self,first,second):
        self.first=first
        self.second=second
    def add(self):
        result=self.first+self.second
        return result
    def mul(self):
        result=self.first*self.second
        return result
    def sub(self):
        result=self.first-self.second
        return result
    def div(self):
        result=self.first/self.second
        return result
    
#상속
class MoreFourCal(FourCal):
    pass
c=MoreFourCal(5,6)
c.add()

11

## 2021-07-02 practice

### 연습문제 1

In [16]:
#1
def change(b):
    return b.replace("s","$")
    

a="restart"
#print(b)
print(change(a))

re$tart

In [72]:
#2
def change(a):
    for i in range(len(a)):
        if(i%2!=0):
            print(a[i])
        
a="python"
change(a)

y
h
n

In [73]:
#3
def change(a):
    print(a[1][1][2])
    print(a[2])
    
    
a=[3,['a',['Life','is','good?']],[1,"pineapple"],"pear"]
change(a)

good?
[1, 'pineapple']

In [128]:
#4
def input2(a,b,i):
   b.append(a[i])
    
a=[1,2,3,4,5]
b=[]
input2(a,b,1)
input2(a,b,3)
input2(a,b,4)
print(b)

[2, 4, 5]

In [85]:
#5
Systems=['Ubuntu',"Windows",[1,2]]
Systems.reverse()
print(Systems)

[[1, 2], 'Windows', 'Ubuntu']

In [34]:
#6
Sample_list=['Python','Java',[1,3],'C++','C']
Sample_list.pop(2)
print(Sample_list)

['Python', 'Java', 'C++', 'C']

In [88]:
#7
def output():
        my_keys=list(my_dict.keys())
        print(my_keys[0])
        print(my_dict['name'])
        print(my_keys[1])
        print(my_dict['age'])
    
my_dict={'name':'tony','age':40}
output()

name
tony
age
40

In [132]:
#8
def input2(my_dict,key,value):
    my_dict[key]=value

my_dict={'name':'Tony','age':40}
input2(my_dict,'address','Suwon')
input2(my_dict,'postal code','4130')
print(my_dict)

{'name': 'Tony', 'age': 40, 'address': 'Suwon', 'postal code': '4130'}

In [65]:
#9
if b>a :
    print("b is greater than a")
a=33
b=50

b is greater than a

In [90]:
#10
a='school'
for i in range(len(a)):
    print(a[i])

s
c
h
o
o
l

In [68]:
#10-2
a='school'
test=[a[i] for i in range(len(a))]
print(test)

['s', 'c', 'h', 'o', 'o', 'l']

In [95]:
#11
def output(x):
    for i in range(1,x+1):
        #print(i+1)
        print(f"%d을 출력합니다"%i)
output(10)

1을 출력합니다
2을 출력합니다
3을 출력합니다
4을 출력합니다
5을 출력합니다
6을 출력합니다
7을 출력합니다
8을 출력합니다
9을 출력합니다
10을 출력합니다

In [84]:
#12
def check(a):
    for i in range(len(a)):
        if(a[i]!="e" and a[i]!="s"):
            print(a[i])
a="estheresther"
check(a)

t
h
r
t
h
r

### 5-4 예외 처리 실습

In [139]:
ex_lst=[9,7,0,0,1]

try:
    for i in ex_lst:
        print(10/i)
except ZeroDivisionError as e:
    print(e)
except IndexError as e:
    print(e)

1.1111111111111112
1.4285714285714286
division by zero

# 과제

In [142]:
def my_function():
    print("hello world")
my_function()

hello world